apiVersion: v1
kind: Service
metadata:
  name: appointment-service
  namespace: default
spec:
  selector:
    app: appointment-service
  ports:
    - protocol: TCP
      port: 3000  # External port to access
      targetPort: 3001  # Updated to match container port
  type: LoadBalancer
