apiVersion: v1
kind: Service
metadata:
  name: patient-service
  namespace: default
spec:
  selector:
    app: patient-service
  ports:
    - protocol: TCP
      port: 3000  # External port to access
      targetPort: 3000  # Updated to match container port
  type: LoadBalancer
